<div class="text-field text-field_floating-3">
  <input
    class="text-field__input"
    autocomplete="off"
    id={{name}}
    type={{type}}
    name={{name}}
    placeholder={{placeholder}}
    maxlength={{maxLength}}
  >
  <label class="text-field__label" for={{for}}>
    {{label}}
  </label>
</div>
