<div class="contact">
  <div class="contact_wrapper">
    <div class="contact_avatar">
      <img src="{{avatar}}" alt="{{display_name}}" />
    </div>
    <div class="contact_user">
      <div class="contact_user-name f-bold">
        {{display_name}}
      </div>
      <div class="contact_user-msg f-light">
        <span class="f-bold">
          {{from}}
        </span>
        {{message}}
      </div>
    </div>
    <div class="contact_info">
      <div class="contact_info-date f-mini">
        {{date}}
      </div>
      <div class="contact_info-msg f-light">
        {{count}}
      </div>
    </div>
  </div>
</div>
