<div class="input_image">
  <label for="{{name}}" class="f-light f-link">
    Выбрать файл на компьютере
    <input
      class="input_image__input"
      id="{{name}}"
      type="{{type}}"
      name="{{name}}"
      accept="{{accept}}"
    />
    {{! <span id="imageName" class="input_image__name"></span> }}
  </label>
</div>
